<div class="ui inverted menu">
    <a class="item" href="/config">
        <i class="settings icon"></i> Settings
    </a>
    <a class="item" href="/shipping">
        <i class="shipping fast icon"></i> Shipping
    </a>
    <div class="right menu">
        <a class="item" href="/">
            <i class="logout icon"></i> Logout
          </a>
    </div>
</div>
<div class="ui container">
    <app-users-component></app-users-component>
    <app-drivers-component></app-drivers-component>
    <app-trucks-component></app-trucks-component>
</div>