<div class="ui vertical module segment">
    <div class="ui top attached menu">
        <div class="ui item">
            <i class="box icon"></i> Shippings
        </div>
        <div class="right menu">
            <div class="ui dropdown icon item" (click)="toggle(toggle_target)">
                <i class="compress icon"></i>
            </div>
            <div class="ui dropdown icon item" (click)="add()">
                <i class="plus icon"></i>
            </div>
            <div class="ui right aligned category search item">
                <div class="ui transparent icon input">
                    <input class="prompt" type="text" (keyup)="onFilter($event)" placeholder="Search">
                    <i class="search link icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached segment" #toggle_target>
        <div class="ui middle aligned divided very relaxed quotation selection list">                
            <div class="item" *ngFor="let shipping of shippings; index as i; first as isFirst" (click)="show(shipping, i)">
                <img class="ui avatar image" src="/assets/shipping.png">
                <div class="content">
                    <a class="header">{{shipping.name}}</a>
                    <div class="description">From {{shipping.source}} to {{shipping.target}}</div>
                </div>
                <div class="ui right floated red mini icon labeled button" (click)="remove(shipping, i, $event)">
                    <i class="trash icon"></i> Delete
                </div>
            </div>
        </div>
    </div>
</div>
<app-shipping-modal></app-shipping-modal>