<div class="ui truck modal">
    <i class="close icon"></i>
    <div class="header">Truck</div>
    <div class="content">
        <div class="ui form">
            <div class="field">
              <label>Name</label>
              <input type="text" name="name" placeholder="Name">
            </div>
            <div class="field">
                <label>Assigned driver</label>
                <div class="ui driver selection dropdown">
                  <input type="hidden" name="driver">
                  <i class="dropdown icon"></i>
                  <div class="default text">Driver</div>
                  <div class="menu">
                  </div>
              </div>
            </div>
          <div class="ui error message"></div>
        </div>
    </div>
    <div class="actions">
      <div class="ui green approve button">Ok</div>
      <div class="ui red cancel button">Cancel</div>
    </div>
  </div>